extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

mixin getQuote
	- var quotes = ['Я воскрешаю деревья', 'Самоизвержение', 'MTV - мировая термоядерная война', 'Несите ваши грязные деньги мне, я очищу их.', 'Полиция нравов', 'Этого еще не хватало', 'Тюряга - украшает тело', 'Встречайте веру по утрам', 'Гриша', 'Как далеко до Телявива', 'Ах господи боже ты мой', 'Горечь горе, горечь грусть', 'Шершень в тельняжечку', 'Я люблю пюре', 'Морда лица', 'Нравится тебе пирожок?', 'Я зубная паста', 'Сделать просто очень сложно.', 'Ах самолеты!', 'Вот ради того чтобы это ненайденное найти.', 'Макс Фадеев - сестричка', 'Мне приснилось что я вакуум, меня нарушают и я становлюсь вселенной.', 'Цивилизации пропадают на стыке изотерм.', 'Здесь обитают гадюки, тараканы и вампиры. А теперь еще и шлюхи.', 'Рыба гниет с головы - это оправдание хвоста.', 'Стабильность - это один раз и в нужный момент.', 'Науки бывают естественные, неестественные и противоестественные.', 'Платье может быть любого цвета, при условии, что оно черное.', 'Тот, кого ты любишь, на 72,8% - вода.', 'Масса она как давление, ограничена только снизу.', 'Усложнения сложны', 'Ядерных реакторов на свете больше чем ответственных женщин.']
	- var min = 0, max = quotes.length
	- var rand = min - 0.5 + Math.random()*(max-min)
	- rand = Math.round(rand);
	!= quotes[rand]

block content
	a.back_link(href='/logout') Выход
	.title Я ЗВЕЗДОЧЕТ
	.title: +getQuote