doctype html
html
	block paths
	head
		include header
	body
		//- include counters
		.header_block
			.header_block_inner
				.header_logo
				.menu_block
					- if (session.user_id)
						a(href='/auth') ЗВЕЗДОЧЕТ
					a(href='/') Главная
			.content_title_block
				- if (admin)
					a(href='/auth') ЗВЕЗДОЧЕТ
					a(href='/auth/events') События
				block content_title
			.content_search_block
				.search_inner
					.search_title Найти:
					input.search_field(type='text', placeholder='...')
					.search_result
						.objects_context
							.context_title Объекты:
							.context_results_block
						.architects_context
							.context_title Архитекторы:
							.context_results_block
						.subjects_context
							.context_title Единицы хранения:
							.context_results_block
		.content_block
			block content
		.footer_block
			- var date = new Date()
			span= 'Мастерская ' + date.getFullYear()