a,b
  font-size 16px

.main_menu_block

.content_block
  width 1280px
  min-height 300px
  background-color white
  padding-bottom 20px

.content_title_block
  width 1280px
  margin 10px auto 20px
  a
    font-size 24px
    text-decoration none
    margin-right 10px
    &:hover
      color red

.head_title_block
  color black

.form_block
  position relative

input, textarea, select
  font-size 16px

.ru
  width 440px
  display inline-block

.en
  width 435px
  display none

.title
  margin-top 20px
  font-size 20pt

.form_title
  margin-top 15px
  margin-bottom 15px
  font-size 14pt

.form_section
  margin-left 10px
  margin-top 20px
  margin-bottom 20px
  font 14pt/14pt 'Times'
  font-weight bold

.navigator
  width 150px
  float right
  background-color black
  color white
  padding 10px

.nav_item, .toggle_eng
  cursor pointer
  display block

.nav_item:hover, .toggle_eng:hover
  text-decoration underline

.nav_forms select, .nav_forms input
  font-size 11pt
  min-width 64px
  margin 0

.form_submit
  margin-top 5px
  cursor pointer
  &:hover
    text-decoration underline

.nav_forms
  .form_submit
    margin-top 10px

.footer_block, .social_block
  display none

.spacer
  display inline-block
  width 10px
  text-align center
  margin-right 5px
  font-size 12pt

.tickets_list
  display none
  margin-left 40px

.form_images_upload
  width 435px
  min-height 160px
  outline 1px solid red
  padding 5px

.form_desc_title
  margin-bottom 10px

.image_upload_block
  overflow hidden
  margin-bottom 10px
  &:last-child
    margin-bottom 0px

.image_upload_preview
  width 210px
  height 160px
  margin-right 5px
  float left
  background-size cover
  background-position center

.image_upload_delete
  background-color white;
  color red;
  font-size 14px
  padding 2px
  display inline-block
  cursor pointer
  &:hover
    color white
    background-color red

.image_upload_description
  width 214px
  height 154px
  border 1px solid black
  margin 0

.tiles_gen
  color red
  &.ok
    color green

.object
  margin-bottom 5px

.ages_navigate_block
  overflow hidden
  position fixed
  background-color white
  right 80px
  border 1px solid black
  padding 5px

.age_navigate_title
  font-size 18px
  font-weight bold
  margin-bottom 5px

.object_options
  margin-left 10px

.menu_navigate_block_title
  margin-top 10px
  margin-bottom 10px

.option
  margin-right 10px
  height 16px
  cursor pointer

.ages_all
.age_navigate_title
.sub_item
  margin-right 10px
  cursor pointer
  &:hover
    color red

.subject
  margin-bottom 20px

.subject_preview
  width 100px
  display block