.architect_header
	margin-top 10px
	font-size 24px

.architects_all
	float left
	display block
	text-decoration none
	margin-right 15px
	&:hover
		color red
	&:after
		content '>'
		color black
		font-size 21px
		margin-left 15px

.content_block
	margin-top 20px
	overflow hidden

.architect_block_title
	font-family ma_unitwmedium
	font-size 18px
	text-decoration none
	&:hover
		color #f00

.architect_object
	float left
	width 240px
	height 200px
	display block
	position relative
	margin-right 20px
	background-size cover
	background-position 50%
	background-repeat no-repeat
	margin-bottom 20px
	&:nth-child(5n)
		margin-right 0px
	&:hover
		color #f00

.attached_title_block
	text-align center
	margin-top 15px
	margin-bottom 20px

.attached_title
	padding-left 10px
	padding-right 10px
	font-size 18px
	background-color white
	display inline-block
	position relative
	font-family 'ma_unitwmedium'

.attached_title_line
	position relative
	background-color black
	top 12px
	width 100%
	height 1px

.architect_object_title_block
	bottom 0
	width 100%
	background #fff
	position absolute

.architect_object_title
.architect_object_date
	font-size: 16px


// Media start --


// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)
@media screen and (max-width: 1280px)
	.architect_object
		width 230px
		&:nth-child(5n)
			margin-right 20px
		&:nth-child(4n)
			margin-right 0px