.content_block
	margin-top 20px
	overflow hidden

.content_title_block
	margin 10px auto
	font-size 24px
	overflow hidden

.architect_block a
	text-decoration none
	margin-bottom 4px
	display block
	font-size 17px
	line-height 16px
	&:hover
		color #f00

.architect_block_text
	display inline

.architect_block_title
	font-family ma_unitwmedium
	font-size 18px
	text-decoration none
	&:hover
		color #f00

.alphabet_block
	display block
	column-count 5
	column-gap 20px

.letter_block
	display block
	margin-bottom: 10px;

.letter_block:nth-child(1)
	display none

.letter
	font-family ma_unitwmedium
	margin-bottom 10px


// Media start ---


// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)
@media all and (max-width: 1280px)
	.alphabet_block
		column-count 4