.object_title
	margin-top 10px

.category_title
	margin-top 10px

.content_block
	margin-top 20px
	overflow hidden

.category_block
	margin-bottom 10px

.category_block_text
	display inline

.category_block_text:before
	content '－'

.category_block_title
	font-family ma_unitwmedium
	font-size 18px
	text-decoration none
	&:hover
		color #f00