.main_block
  overflow hidden

.content_block
  margin-bottom 20px
  height auto
  outline 1px solid black
  padding-bottom 100px

.form_text
  float left
  width 1020px
  margin-bottom 20px
  overflow hidden

.form_options
  float left
  width 225px
  margin-top 20px
  margin-left 10px
  border 2px solid black
  padding 5px

.form_image_main
  height 300px
  margin-top 20px
  background-size cover
  background-position center
  background-color #a2c179

.form_images_second
  clear both
  min-height 300px
  overflow hidden
  margin-top 20px
  background-color #6679c1

.image_second_preview
  width 400px
  height 400px
  float left
  position relative
  background-size cover
  background-position center
  margin-right 40px
  margin-bottom 20px
  background-color #c17848
  &:nth-child(4n)
    margin-right 0px

.image_second_description
  width 400px
  min-height 40px
  outline none
  position absolute
  bottom 0
  background-color #76c169

.form_title
  border 2px solid #23c15a
  margin-top 20px
  outline 0px
  font 16pt/18pt 'helveticaneuecyrlight'

.form_desc_title
  position absolute
  display inline-block
  font 12pt/14pt 'helveticaneuecyrlight'

.form_description
  min-height 300px
  margin-top 20px
  outline 0px
  font 12pt/14pt 'helveticaneuecyrlight'
  border 2px solid #4e8dc1

.submit
  width 120px
  height 25px
  margin-top 20px
  padding-top 5px
  font 12pt/14pt 'helveticaneuecyrlight'
  text-align center
  border 2px solid #c1324b
  &:hover
    cursor pointer
    color white
    background-color #c1324b

#image_main_fallback, #images_second_fallback
  display none

