body
  height 100%

body > .content_block
  height 100%

.content_block > .screen_block
  height 100%

.header_block
  position absolute
  top 0
  z-index 100000
  width 100%

.header_block_inner
  background transparent

.logo_description, .menu_item
  color #fff

.screen_block
  width 100%
  position relative
  overflow hidden
  background #fff

.title_block
  //width 1280px
  margin 0 auto

.content_block
  width 100%
  position absolute
  top 0
  height 100%

.header_logo
  background-position 0 0

//-- 1ый Блок --//
.intro_block_title
  position absolute
  top 50%
  width 100%
  z-index 9999
  margin-top -90px

.intro_block_title_inner
  width 1280px
  margin 0 auto

.main_title
  border-bottom 1px solid #fff
  color #fff
  font 46px/66px 'ma_unitwmedium'
  text-align center

.additional_title
  text-align center
  color #fff
  line-height 41px
  font-size 21px

.intro_block_background
  background url('/images/design/12.jpg') 50% 50% no-repeat scroll
  transition height 0.1s ease
  background-size cover
  height 100%
  //background-attachment fixed
  position fixed
  height 100%
  width 100%
  z-index -10
  &:after
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background: rgba(0, 0, 0, 0.4);
    content ''
    z-index -20

.intro_block
  background transparent

.goto_down
  position absolute
  bottom 26px
  width 100%
  height 60px

.goto_down_inner
  margin 0 auto

.goto_down a
  width 50px
  height 50px
  margin 0 auto
  display block
  text-align center
  color #fff
  font: 26px/56px 'menu_icons';
  text-decoration none
  border-radius 50%
  border 1px solid
  cursor pointer
  &:hover
    color #EE3124!important

.intro
  display block
  border-radius 4px
  background #EE3124
  width 300px
  height 50px
  line-height 50px
  font-size 25px
  text-align center
  text-decoration none
  color #fff
  margin 20px auto 0
  border 2px solid transparent
  &:hover
    background-color white
    color black

//-- 2ой Блок --//

.content_block > .screen_block_height
  height auto
  padding-bottom 60px

.description_inner
  background transparent
  //width 1280px
  margin 0 auto

.description_title
  display block
  text-decoration none
  width 1280px
  margin 0 auto
  font 30px/32px 'ma_unitwmedium'
  text-align center
  padding 10px 0 10px 0
  border-bottom 1px solid #333

.description_block_inner
  width 1280px
  margin 0 auto
  overflow hidden

.description_column
  width 640px
  float left

.description_logos
  width 300px
  margin 0 auto

.description_logos img
  width 300px
  margin-top 20px
  margin-bottom 40px


//-- 3ой Блок --//
.styles_line
  background #fff
  margin 20px 0
  font-size 18px
  line-height 22px
  overflow hidden

a.styles_line_nav
  display block
  position absolute
  font 46px/100px 'menu_icons'
  z-index 10000
  width 50px
  height 100px
  text-align center
  color #fff
  top 110px
  cursor pointer
  &.prev
    left 0px
  &.next
    right 0px
  &:hover
    color #EE3124

.styles_inner_line
  white-space nowrap

.style_block
  width 240px
  height 500px
  overflow hidden
  display inline-block
  margin-right 10px
  background-size 100%
  position relative
  vertical-align top
  text-decoration none
  &:hover
    .style_title
      color red

.style_block:nth-child(1)
  margin-left 10px

.style_image
  height 170px
  background-position 50%
  background-repeat no-repeat
  background-size cover
  background-color #ccc

.style_title
  background #fff
  padding 10px
  height 40px

.style_title_inner
  font 24px/24px 'ma_unitwlight'
  border-bottom 1px solid
  padding-bottom 10px
  padding-top 5px
  text-align center

.style_description
  padding 10px 7px
  background #fff

.style_description_inner
  white-space normal
  font-size 16px
  line-height 17px

//-- 4ой Блок --//
.special_block_background
  background url('/images/design/13.jpg') 50% no-repeat
  background-size cover
  opacity 0.6
  height 100%

.special_block
  background #000
  & .description_title
    color #fff
    border-bottom 1px solid #fff

.special_block_inner
  position absolute
  z-index 100
  top 0
  width 100%


//--------//

.footer_block
  display none
