.content_block
	width 100%

.object_header_block
	width 1280px
	position relative
	overflow hidden
	margin 10px auto 0
	font-size 24px

.object_style
	float left
	display block
	text-decoration none
	margin-right 15px
	&:hover
		color red
	&:after
		content '>'
		color black
		font-size 21px
		margin-left 15px

.object_navigate_block
	width 1280px
	z-index 9999
	margin 5px auto 0
	position relative
	overflow hidden
	padding-bottom 3px

.object_navigate
	float left
	margin-right 10px
	font-size 18px
	padding-top 5px
	&:hover
		color red
		cursor pointer
	&.current
		color red
	&:before
		font-family 'menu_icons'
		font-size 21px
		float left
		display block
		margin-right 10px
	&.description
		&:before
			content ''
	&.subjects
		&:before
			content ''
	&.images
		&:before
			font-size 16px
			content ''
	&.models
		&:before
			content '3d'
			display block
			font 18px/21px 'ma_unitwlight'
			float left
			width 25px
			height 22px
			margin-top -3px
			padding-top 3px
			margin-right 10px
			color black
			text-align center
			border-radius 50px
			border 1px solid black
			font-size 14px
			position relative
		&:hover
			&:before
				color white
				background-color red
				border 1px solid red
		&.current
			&:before
				color white
				background-color red
				border 1px solid red

.object_description_block
	width 100%
	min-height 50px
	z-index 9999
	font-size 16px
	background-color white
	position absolute
	display block

.description_inner
	width 1280px
	padding-top 5px
	padding-bottom 5px
	position relative
	overflow hidden
	margin 0 auto

.description_column
	width 620px
	float left
	margin-right 20px
	&:last-child
		margin-right 0px

span.show
	margin-left 10px
	cursor pointer
	&:hover
		color red

span.hide
	display none

.column_item
	overflow hidden
	&:last-child
		margin-bottom 0px
	a
		text-decoration none
		&:hover
			color red
		&:after
			content ','
			margin-right 5px
		&:last-child:after
				content ''
				margin-right 0

.column_title
	float left
	font-size 14px
	font-family 'ma_unitwmedium'
	margin-right 10px

.object_images_block
.object_3d_block
	width 100%
	top 115px
	bottom 0
	overflow hidden
	position absolute
	background-color #d5d5d5

.object_3d_block
	display none

.object_image
	display none
	width 100%
	height 100%
	background-size contain
	background-repeat no-repeat
	background-position center
	&:nth-child(1)
		display block

.images_navigate_block
	position absolute
	top 0
	width 100%
	height 100%

.images_navigate_block_inner
	width 1280px
	margin 0 auto
	height 100%
	position relative
	&>div
		position absolute
		font-size 120px
		color #fff
		text-shadow 0 0 1px #000
		user-select none
		opacity 0
		width 30%
		height 100%
		margin-top -60px
		&:hover
			opacity 0.9
			cursor pointer
		&.images_navigate_block_prev
			left 10px
		&.images_navigate_block_next
			right 10px
			text-align right
			width 70%
		& .images_arrow
			top 50%
			position absolute
			width 100%

.object_subjects_block
	position absolute
	width 100%
	top 115px
	bottom 0
	display none

.object_slide_navigate
	position absolute
	width 100%
	background-color white
	z-index 9999
	display none
	overflow auto
	left 0

.slide_navigate_inner
	width 1280px
	overflow hidden
	position relative
	padding-top 10px
	margin 0px auto

.object_slide_item
	width 240px
	height 200px
	margin-right 20px
	margin-bottom 10px
	float left
	background-size cover
	background-position center
	background-repeat no-repeat
	&:nth-child(5n)
		margin-right 0
	&:hover
		cursor pointer

.object_slide_title
	top 100%
	font-size 16px
	position relative

.slide_title_inner
	bottom 0
	position absolute
	width 100%
	background-color white

.description_item
	display none
	&.images:first-child
		display block

.footer_block
	background rgba(0, 0, 0, 0.6)
	color white
	transition 0.2s
	a
		color white
	&:hover
		transition 0.2s
		color black
		background-color white
		a
			color black
			&:hover
				color red


// Media start ---


// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)
@media screen and (max-width: 1280px)
	.object_header_block
	.object_navigate_block
	.description_inner
	.images_navigate_block_inner
	.slide_navigate_inner
		width 980px

	.object_slide_item
		width 230px
		&:nth-child(5n)
			margin-right 20px
		&:nth-child(4n)
			margin-right 0px

	.description_column
		width 420px