.projects_title
  margin 10px 0

.project_block
  display block
  overflow hidden
  text-decoration none
  &:hover
    color #f00

.project_image
  background-position 50%
  background-size cover
  background-repeat no-repeat
  height 300px
  position relative
  display block

.project_description_block
  padding 10px 0

.project_title
  padding-bottom 5px

.project_title
  font-size 22px
  line-height 21px