.content_block
	margin-top 20px

.subjects_title_block
	margin 10px auto

.subject_item
	overflow hidden
	display block
	margin-bottom 10px
	font-size 16px
	text-decoration none
	&:hover
		.subject_title
			color red

.subject_image
	width 240px
	height 220px
	margin-right 20px
	background-position center
	background-repeat no-repeat
	background-size cover
	float left

.subject_title
	font-size 18px
	font-family 'ma_unitwmedium'
	margin-bottom 5px
	text-decoration none
	display block