extends ../layout

block title
	title ЕДИНИЦЫ ХРАНЕНИЯ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/subjects.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/subjects.js' + version)

block content_title
	.subjects_title_block Единицы хранения

block content
	.subjects_block
	each subject in subjects
		a.subject_item(href='/subjects/' + subject._id)
			.subject_image(style='background-image: url(' + subject.image.thumb + ')')
			.subject_title= subject.i18n.title.get('ru')
			.subject_description= subject.i18n.description.get('ru')
