extends ../layout

block title
	title ЕДИНИЦА ХРАНЕНИЯ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/leaflet.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/subject.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/leaflet.js' + version)
	script(type='text/javascript', src='/build/js/subject.js' + version)

block content_title
	.subject_title= subject.i18n.title.get('ru')

block content
	.subject_map(id='subject_view', path=subject._id)

block footer
	.subject_inventory= subject.meta.inventory
	.subject_title: != subject.i18n.title.get('ru')
	.subject_description: != subject.i18n.description.get('ru')