extends ../../layout

block title
	title ДОБАВИТЬ АРХИТЕКТОРА

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content
	.form_block
		a.back_link(href='/auth/architects') < Назад
		.title ДОБАВИТЬ АРХИТЕКТОРА
		form(action="/auth/architects/add", method="post", enctype="multipart/form-data")
			.form_title Имя:
			input.ru(type="text", name="ru[name]",)
			input.en(type="text", name="en[name]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Интервал начало:
			input.ru(type="text", name="interval[start]",)
			.form_title Интервал конец:
			input.ru(type="text", name="interval[end]",)
			.form_title Фото:
			input(type="file", name="photo")
			br
			br
			input(type='submit', value='отправить')