extends ../../layout

block title
	title СПИСОК АРХИТЕКТОРОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК АРХИТЕКТОРОВ
	br
	a.add(href='/auth/architects/add') добавить архитектора
	br
	br
	.main_menu_block
		each architect in architects
			.architect
				a.rm_architect(href='#', id=architect._id)= 'удалить '
				!=' | '
				a(href='/auth/architects/edit/' + architect._id)= architect.i18n.name.get('ru')