extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/index.js' + version)

//- block content_title
	.styles_block
		.styles_inner_block
			each age in ages
				a.style_item(href='/styles/#' + age._id)
					.style_name=age.i18n.title.get('ru')

block content
	.events_block
		each event in events
			.event_block
				.event_title= event.i18n.title.get(locale);

