extends ../layout

block title
	title Мастерская

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)


block content
	h1 Расписание
	.schedule_block
		each item in schedule
			.schedule_month_block
				br
				.schedule_month= 'Месяц: ' + item._id.month
				br
				.schedule_dates_block
					each date in item.dates
						.schedule_date= 'Дата: ' + date.date
						.schedule_date_events
							each event in date.events
								.event_block
									.event_title= 'Название: ' + event.title[0].value
									.event_hall= 'Зал: ' + event.hall
									br