extends ../layout

block title
	title СЛОВАРЬ АРХИТЕКТУРНЫХ ТЕРМИНОВ


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/categorys.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/categorys.js' + version)

block content_title
	.object_title Словарь архитектурных терминов
block content
	each category in categorys
		.category_block
			a.category_block_title(href='/categorys/' + category._id)= category.i18n.title.get('ru')
			.category_block_text= category.i18n.description.get('ru')
